pkg
lib/i[3-9]86*
lib/x86*
*.swp
tags
.DS_Store
src/hash/*_hash.h
src/hash/language_hash.c
src/parsers/*.h
src/parser.o
test/unit/run_tests
bin/
ruby/ohcount.so
ruby/ohcount_wrap.c
test/unit/run_tests.dSYM/
build-python/
python/ohcount.py
