html	code	<html>
html	code		<head>
html	code			<title>Ajax table manipulation attempt</title>
ruby	code			<%= stylesheet_link_tag "style" %>
ruby	code			<%= javascript_include_tag :defaults %>
html	code		</head>
html	code		<body>
html	blank	
html	code			<div id="content">
ruby	code			<%= @content_for_layout %>
html	code			</div>
html	blank	
ruby	code				<%= ruby code %> <br/>
html	comment				<!-- html comment 
html	comment				inline comment
ruby	code				<% tricky code %>
html	comment				-->
ruby	code				<%- multi
ruby	code				lines of code
ruby	comment				# even inline comments!
ruby	code				"damn" # that's sweet
html	code				%>
ruby	code				<div> <%= ruby_code %> </div>
html	code		</body>
html	code	</html>
